.about {
  padding-top: 122px;
  background-color: var(--second-bkg-color);
  &__title {
    text-align: center;
  }
  &__subtitle {
    color: var(--light-color);
  }
  &__bottom {
    background: var(--accent-color);
    margin-top: 100px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 250px;
    color: var(--light-color);
  }
  &__item {
    display: flex;
    margin-right: 49px;
    &:last-child {
      margin-right: 0;
    }
    &-icon {
      margin-right: 20px;
    }
    &-content {
      align-self: center;
      span {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    padding-top: 50px;
    &__bottom {
      margin-top: 50px;
    }
    &__wrapper {
      min-height: 150px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    &__wrapper {
      flex-wrap: wrap;
      align-content: space-around;
    }
    &__item {
      width: 33.33%;
      margin-right: 0;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .about {
    &__item {
      width: 50%;
      padding: 10px 0;
    }
  }
  .content {
     width: 100%;
  }
}

@media (max-width: 452px) {
  .about {
    &__item {
      width: 100%;
    }
  }
}
