.gallery {
  &__title {
    display: none;
  }
  padding-top: 28px;
  background-color: var(--second-bkg-color);
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
      width:25%;
      position: relative;
      img {
        height: 100%;
      }
      &:hover {
        &::before {
          visibility: visible;
          opacity: 1;
        }
        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
      &::before {
        content: '';
        position: absolute;
        background-color: rgba(52, 84, 122, .8);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;
        transition: opacity .8s;
        opacity: 0;
      }
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        background: url(/img/view.svg);
        background-size: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        transition: all .8s;
        opacity: 0;
      }
  }
  &__clients {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 100px;
    &-item {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 1200px) {
  .gallery {
    &__clients {
      padding: 50px 0 70px 0;
    }
  }
}

@media (max-width: 992px) {
  .gallery {
    &__item {
      &::after {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    &__clients {
      padding: 50px 0;
    }
  }
}

@media (max-width: 576px) {
  .gallery {
    &__item {
      width: 50%;
    }
    &__clients {
      flex-wrap: wrap;
      padding: 30px 0;
      &-item {
        width: 45%;
        margin-right: 10px;
        &:last-child {
          margin-right: 10px;
        }
      }
    }
  }
}



