.skills {
  background-color: var(--second-bkg-color);
  &__container {
    width: 1150px;
    max-width: none;
    padding: 102px 0 101px 0;
    display: flex;
    justify-content: space-between;
  }
  &__left {
    align-self: center;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__item {
    width: 445px;
    margin-top: 29.76px;
    &:first-child {
      margin-top: 50px;
    }
    &-subheader {
      color: var(--main-color);
    }
  }
  &__panel {
    height: 4px;
    background-color: #C4C4C4;
    margin-top: 20px;
    &-colored {
      background-color: var(--accent-color);
      height: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .skills {
    &__container {
      width: 100%;
      padding: 40px 20px;
    }
    &__left {
      width: 50%;
      padding-right: 20px;
    }
  }
}

@media (max-width: 992px) {
  .skills {
    &__left {
      width: 100%;
    }
    &__title {
      margin-bottom: 0;
    }
    &__item {
      width: 100%;
      margin-top: 20px;
    }
    &__panel {
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .skills {
    &__title {
      font-size: 28px;
    }
  }
}

@media (max-width: 576px) {
  .skills {
    &__container {
      flex-direction: column-reverse;
    }
    &__left {
      padding: 0;
    }
    &__title {
      margin-top: 10px;
    }
  }
}

@media (max-width: 452px) {

}

