<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="title title_fz32 feedback__title">Хотите веб-сайт?</h2>
    <p class="feedback__content content">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>

    <div class="feedback__wrapper">
      <form action="#" class="feedback__form">
        <div class="feedback__form-input">
          <input required name="name" placeholder="Ваше имя" id="name" type="text">
        </div>

        <div class="feedback__form-input">
          <input required name="email" placeholder="Ваш e-mail" id="email" type="email">
        </div>

        <div class="feedback__form-textarea">
          <textarea name="text" placeholder="Cообщение" id ="text"></textarea>
        </div>

        <div class="feedback__form-btn">
          <a href="#" class="feedback__form-link btn">Отправить</a>
        </div>
      </form>
    </div>
  </div>
</section>
