<section class="gallery" id="gallery">
  <h2 class="gallery__title">Мои работы</h2>
  <div class="gallery__wrapper">
    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_1.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_2.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_1.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_2.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_2.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_1.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_2.jpg" width="480" height="480" alt="portfolio example">
    </a>

    <a href="#" class="gallery__item">
      <img src="img/portfolio_example_1.jpg" width="480" height="480" alt="portfolio example">
    </a>
  </div>

  <div class="container">
    <div class="gallery__clients">
        <a href="https://www.microsoft.com/uk-ua" target="_blank" class="gallery__clients-item">
          <img src="img/microsoft.svg" width="255" height="120" alt="microsoft">
        </a>

        <a href="https://www.microsoft.com/uk-ua" target="_blank" class="gallery__clients-item">
          <img src="img/microsoft.svg" width="255" height="120" alt="microsoft">
        </a>

        <a href="https://www.microsoft.com/uk-ua" target="_blank" class="gallery__clients-item">
          <img src="img/microsoft.svg" width="255" height="120" alt="microsoft">
        </a>

        <a href="https://www.microsoft.com/uk-ua" target="_blank" class="gallery__clients-item">
          <img src="img/microsoft.svg" width="255" height="120" alt="microsoft">
        </a>
    </div>
  </div>
</section>
