<header class="header" id="header">
  <div class="container">
    <div class="header__top">
      <div class="header__logo">
        <a class="logo" href="#">
          <img src="img/WD.svg" width="96" height="60" alt="logo">
        </a>
      </div>

      <nav class="header__nav">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
          <span></span>
        </label>

        <ul class="header__menu">
          <li class="header__menu-item"><a href="#header" class="header__menu-link">Главная</a></li>
          <li class="header__menu-item"><a href="#about" class="header__menu-link">Об авторе</a></li>
          <li class="header__menu-item"><a href="#gallery" class="header__menu-link">Работы</a></li>
          <li class="header__menu-item"><a href="#work" class="header__menu-link">Процесс</a></li>
          <li class="header__menu-item"><a href="#feedback" class="header__menu-link">Контакты</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__bottom">
      <div class="header__screen">
        <img src="img/screen_header.svg" width="357" height="233" alt="screen notebook">
      </div>
      <div class="header__descr">
        <h1 class="title title_fz48 header__title">Дизайн и верстка</h1>
        <p class="header__descr-content">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        <div class="header__btn">
          <a href="#feedback" class="header__btn-link btn">Написать мне</a>
        </div>
      </div>
    </div>
  </div>
</header>
