<section class="skills" id="skills">
  <div class="container skills__container">
    <div class="skills__left">
      <h2 class="title title_fz32 skills__title">Мои навыки</h2>

      <div class="skills__item">
        <span class="skills__item-subheader">Adobe Photoshop</span>
        <div class="skills__panel">
          <div class="skills__panel-colored" style="width: 80%"></div>
        </div>
      </div>

      <div class="skills__item">
        <span class="skills__item-subheader">Adobe Photoshop</span>
        <div class="skills__panel">
          <div class="skills__panel-colored" style="width: 80%"></div>
        </div>
      </div>

      <div class="skills__item">
        <span class="skills__item-subheader">Adobe Photoshop</span>
        <div class="skills__panel">
          <div class="skills__panel-colored" style="width: 80%"></div>
        </div>
      </div>
    </div>

    <div class="skills__right">
      <img src="img/photo.jpg" width="555px" height="450px" alt="my photo">
    </div>
  </div>
</section>
