<section class="work" id="work">
  <div class="container">
    <h2 class="title title_fz32 work__title">Как я работаю</h2>
    <p class="work__content content">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
    <div class="work__video">
      <img src="img/work_video.jpg" width="1100px" height="600px" alt="work video">
      <a class="work__video-wrapper" href="#">
        <div class="work__video-button">
          <img src="img/play.svg" alt="play button">
        </div>
      </a>
    </div>
  </div>
</section>
