// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "title";
@import "btn";

// подключения компонентов страницы
@import "./components/header";
@import "./components/about";
@import "./components/skills";
@import "./components/work";
@import "./components/gallery";
@import "./components/feedback";

.content {
  width: 540px;
  padding-top: 50px;
  color: var(--main-color);
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}
